@page
@model IndexModel
@{
    ViewData["Title"] = "Shisuii";
}

< class="What
    <h1 class="display-4">Shisui</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Shisui's Past</a>.</p>
</>
    <style>
          body {
                background-size: cover;
                font-family: Arial;
                color: white;
                background-color: black;
            }

            img.bg {
                width: 1500px;
                height: 700px;
            }
    </style>

    <section>
        <img class="bg" src="https://em.wattpad.com/1f2fe57a350d831227510ba1cb6aa3f4fe293152/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f505f59524f514c4c68414c4438413d3d2d3630362e313539643038343366633330303265303837373130303933343633372e676966" alt="Sharingan" />
    </section>
    <h2>Shisui is THe Strongest</h2>
    <p>Shisui has the most powerful genjutsu while Itachi has the strongest and invincible Susanoo. The Eternal Mangekyo which is the final form of the Sharingan.</p>
