@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Legend</p>
<style>

       body {
                background-size: cover;
                font-family: Arial;
                color: white;
                background-color: black;
            }

    img.bg {
        width: 1500px;
        height: 700px;
    }
</style>

<section>
    <img src="https://i.pinimg.com/originals/f6/b7/73/f6b7735f614cd5ffedc2856c27fbd319.gif" alt="Alternate Text" />
    <h1> Who Is this Legend and how did it all Start</h1>
    <p>
        Graduating from the Academy during the Third Shinobi World War, Shisui was placed on a genin team alongside his best friend. Immediately after the war ended a year later, Shisui witnessed his friend die on a mission, consequently awakening the Mangekyō Sharingan as he felt responsible.[3] A year later, he met a 5 year old Itachi Uchiha, whom he became best friends with while the two formed a brother-like bond. A year afterwards, Shisui began drawing attention as a genin, garnering the name "Shisui of the Body Flicker" for his usage of the Body Flicker Technique.[4] Two years later, living with his parents as a jōnin[5] and breadwinner for the family of three, Shisui's bedridden father stopped recognising him, due to his decline of health from falling ill as a result of him losing his leg in the last world war. Acknowledging that everybody dies someday, Shisui was prepared for his passing.[6]

        Shisui tells to Hiruzen
        Shisui tells the truth to Hiruzen.

        In the anime, Team Shisui was assigned a long mission, which they were tasked with chasing away Kirigakure forces being lead by Ao. The team completed their mission after Ao realised they were facing Shisui and had his team retreat.[7][8] When Itachi began to act oddly, Shisui was instructed by the Konoha Military Police Force to monitor Itachi because the younger Uchiha's position in Anbu was instrumental to the Uchiha's future status in Konoha.[9] Unbeknownst to the clan, Shisui in reality sympathised with Itachi, not wanting the Uchiha to go to war with the village. As the Uchiha continued to grow angrier and more violent from the distrust of the village due to the suspicion of their involvement in the Nine-Tailed Demon Fox's Attack, Shisui approached Hiruzen Sarutobi revealing the truth to the Third Hokage. Trusting Shisui, seeing as he is Kagami Uchiha's descendant, Hiruzen allowed the Uchiha to spy on his clan for the village. Shisui was perplexed that the clan would not deter from the coup d'état that they were planning and soon became greatly concerned with the consequences that would follow their actions. Ultimately, it was decided that Shisui would use his Kotoamatsukami on Fugaku Uchiha to subtly end the coup d'état plan.

        Later, as Shisui prepared to make his move, Danzō Shimura, believing that simply manipulating the Uchiha's leader wouldn't end the conflict and that he would eventually try to manipulate him as well, chose to take Shisui's eyes for himself in the desire to protect the village in his own way. While Shisui effortlessly subdued Danzō at first, the ruthless elder caught Shisui off guard by using the forbidden Izanagi with another Sharingan already in his possession to break free and steal Shisui's right eye. As Danzō and his men surrounded Shisui to take the left eye, Shisui managed to escape.[10]

        Shisui gives his eye
        Shisui entrusting his remaining eye to Itachi.

        Fearing that Danzō was right in Shisui's inability to stop the Uchiha's revolt and that the elder would continue to pursue his left eye as well, Shisui entrusted it to Itachi, telling him to protect both the village and the Uchiha name.[11] Shisui wrote a suicide note telling his clan he cannot follow through with the coup d'etat, but his clan's narrow mindedness made them unable to understand this, preventing them from understanding his desire for peace and reconciliation. The contents of the suicide note also made it appear as though he had crushed his eyes when jumping off a cliff into the Naka River to kill himself in order to prevent conflict from arising over his eyes within the clan.[12] He, at the same time, was able to erase his existence, leaving no corpse behind.[12][13] In the anime, Shisui was also hoping to use his death to awaken Itachi's Mangekyō Sharingan, succeeding in the goal.

        Personality
        Shisui was a very humble and down-to-earth individual. He was never arrogant about his own talent or accomplishments, yet was not above telling others when they made mistakes. At the same time, he was open-minded, never stubbornly believing in one ideal solely and strove to see that unique nature of current situation before him. Shisui was also a deeply compassionate man, even to enemies, showing sympathy and kindness to a dying Mukai Kohinata despite having been ordered to assassinate him as a traitor. He was also shown to be very perceptive and intuitive even from a young age, able to see through the emotional nature of others and likewise able to notice the smallest details around him.[5] Shisui came to care for Itachi very much; in fact, he was like a big brother to Itachi.[14] Shisui taught Itachi that "self-sacrifice… a nameless shinobi who protects peace from within its shadow…" was the true mark of a shinobi.[15] Shisui was also very devoted to the clan, which is why the Konoha Military Police Force asked him to spy on Itachi. It is because of this devotion that the police did not believe he could have committed suicide.[2] This devotion was so great, his best friend Itachi believed that had he been alive during the Uchiha's downfall, he would have protected the clan to the very end, even from him.[16]

        Although Shisui was devoted to his clan, he was equally devoted to the well-being of his village, a trait his own clan is apparently ignorant of. His devotion to his village was so strong that he never fell victim to the Curse of Hatred. However, Shisui had a darker side he was deeply ashamed of; out of envy to a friend who he believed had surpassed him in ability, Shisui withheld aid at a critical moment, leading to the other shinobi's death. The guilt of what he had done led Shisui to consider himself a murderer, causing him to awaken his Mangekyō Sharingan, which he used as a constant reminder of his remorse and vow to never succumb to such feelings ever again.[3]

        Shisui's devotion to Konoha even went as far as to attempt to put his clan's leader and best friend's father under a genjutsu in order to stop the Uchiha coup d'état which would lead to civil war.[17] However, this failed when Danzō stole his right eye. Knowing Danzō's power-hungry personality would eventually lead him to steal his left eye as well, he resolved to prevent Danzō from stealing it to stop him from gaining too much power. With this in mind, he entrusted his left eye to Itachi and told him to protect the village and was able to die with a smile knowing the village would be in good hands despite all he had been through prior to his death. Shisui even went as far as to erase his own existence to prevent his corpse from falling into the wrong hands, which inadvertently prevented him from being reincarnated by Kabuto years later and being forced to fight his own village.[18] According to Itachi, he and Naruto Uzumaki hold similar ideals and goals.[12] Shisui also greatly valued the notion of "family" as seen when he swore to never let the clan's issues to destroy the relationship between Itachi and Sasuke. He also had a sense of humour, as seen when he enjoyed the difficult situation he put Itachi in when Sasuke argued with Shisui over who is stronger.

        Like Itachi, Shisui doesn't appear to enjoy killing people and prefers to use non-lethal methods whenever possible as shown in his using a genjutsu to scare off Ao's squad when it was stated he could have killed his entire squad with ease. Shisui also used a genjutsu on Danzō, which would disappear shortly, instead of killing him when the latter tried to steal his eyes.
    </p>
</section>